body {
	margin: 0;
	padding: 0;
}

.pane {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50vh;
}
.topPane {
	background-color: rgb(61, 61, 61);
}
.bottomPane {
	background-color: white;
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	/* min-width: 300px; */
}

@media (max-width: 720px) {
	.pane {
		flex-direction: column;
		height: 100%;
	}
	.editorMain {
		padding: 10px;
	}
}
